html,body{
    height: 100%;
    width: 100%;
}
body {
    font-family: "Roboto", sans-serif;
    font-family: "Ubunty", sans-serif;
    background: url('./img3.jpg') no-repeat center center/cover;
    
  }
.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.row{
    margin: 8px 0;
}
.row input{
    width: 295px;
    font-size: 18px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius:5px}